# **list vs tuple**

In [ ]:
list1=[1,2,3]
tu=(1,2,3)

list2=list(tu)
list2[2]=4
print(list2)

[1, 2, 4]

# **multiple data type assignment**

In [ ]:
(a,*b,c)=(1,2,3,4,5)
print(a)
print(b)
print(c)

1
[2, 3, 4]
5

# **Dictionary**

In [ ]:
'''
fruitprice={"Apple":10,"Banana":20,"Cherry":30}
print(fruitprice)
fruitprice["Graps"]=40
print(fruitprice["Graps"])

for i in fruitprice.items():
  print(i)
'''

veggiePrice=dict(apple=10,banna=20,cherry=30)
print(veggiePrice)

{'apple': 10, 'banna': 20, 'cherry': 30}

# **Python set**

In [ ]:
fruits={"apple","mango"}
print(fruits)
fruits2={"jackfruit","mango"}
#set union
a=fruits.union(fruits2)
print(a)

#set intersection
a=fruits.intersection(fruits2)
print(a)

a=fruits2.difference(fruits)
print(a)

{'apple', 'mango'}
{'apple', 'mango', 'jackfruit'}
{'mango'}
{'jackfruit'}

# **function in python**

In [ ]:
def addition(a,b):
  return a+b

a=addition(5,3)
print(a)
def sub(b,c):
  return b-c

print(sub(6,5))

8
1

# **Class with constractor declaration**

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

#**Data structure concept(Queue,Stack)**
###**Stack and heap Memory**

###**Stack memory data isn't deletable**
###**heap memory data is delatable**



###**Stack works in LIFO method**
###**Queue works in FIFO method**

# **Stack**

In [ ]:
book=[]
book.append("a")
book.append("b")
book.append("c")
book.append("d")
book.pop()
book.pop()
print(book[-1])

b

# **Queue**

In [ ]:
from collections import deque
bank=deque(["a","b","c"])
print(bank[0])
bank.popleft()
print(bank[0])

a
b